<md-tabs>
<md-list style="max-width: 300px;">
    <md-list-item>
        Saltos
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
        Waltz
    </md-list-item>
    <md-list-item>
        Toeloop
    </md-list-item>
    <md-list-item>
        Salchow
    </md-list-item>
    <md-list-item>
        Flip
    </md-list-item>
    <md-list-item>
        Lutz
    </md-list-item>
    <md-list-item>
        Loop
    </md-list-item>
    <md-list-item>
        Thoren
    </md-list-item>
    <md-list-item>
        Axel
    </md-list-item>
    <md-list-item>
        2 Toeloop
    </md-list-item>
    <md-list-item>
        2 Salchow
    </md-list-item>
    <md-list-item>
        2 Flip
    </md-list-item>
    <md-list-item>
        2 Lutz
    </md-list-item>
    <md-list-item>
        2 Loop
    </md-list-item>
    <md-list-item>
        2 Thoren
    </md-list-item>
    <md-list-item>
        2 Axel
    </md-list-item>
    <md-list-item>
        3 Toeloop
    </md-list-item>
    <md-list-item>
        3 Salchow
    </md-list-item>
    <md-list-item>
        3 Flip
    </md-list-item>
    <md-list-item>
        3 Lutz
    </md-list-item>
    <md-list-item>
        3 Loop
    </md-list-item>
    <md-list-item>
        3 Thoren
    </md-list-item>
    <md-list-item>
        3 Axel
    </md-list-item>
    <md-list-item>
        4 Toeloop
    </md-list-item>
    <md-list-item>
        4 Salchow
    </md-list-item>
    <md-list-item>
        4 Flip
    </md-list-item>
    <md-list-item>
        4 Lutz
    </md-list-item>
    <md-list-item>
        4 Loop
    </md-list-item>
    <md-list-item>
        4 Thoren
    </md-list-item>
    <md-list-item>
        4 Axel
    </md-list-item>
</md-list>