.login-card {
    display: flex;
    align-content: center;
    max-width: 400px;
    padding: 10px;
    margin: 170px;

  }
  
  .logo-header-image {
    background-image: url('../../../assets/logos/MARCA\ FEMPA\ 3.png');
    background-size: cover;
  }