<mat-card class="login-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="logo-header-image"></div>
      <mat-card-title>Bienvenido</mat-card-title>
      <mat-card-subtitle>Nueva App</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="../../../assets/logos/MARCA FEMPA 1.png" alt="Photo of logo">
    <mat-card-content>
        <form class="login-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="fempa@fempa.com.ar">
              @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                <mat-error>Por favor ingrese un correo válido</mat-error>
              }
              @if (emailFormControl.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput [formControl]="passwordFormControl" placeholder="Ingresa una contraseña">
                @if (passwordFormControl.hasError('email') && !passwordFormControl.hasError('required')) {
                  <mat-error>Ingresa una contraseña correcta</mat-error>
                }
                @if (passwordFormControl.hasError('required')) {
                  <mat-error>password is <strong>required</strong></mat-error>
                }
              </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-actions>
        <section>
      <button mat-flat-button (click)="login()">Ingresar</button>
    </section>
   
      <button mat-button>Registrarme</button>
    </mat-card-actions>
  </mat-card>